<td class="order_title">
  <span class="description">Description</span>
</td>

<td class="order_title">
  <span class="site">Site/Link</span>
</td>

<td class="order_title">
  <span class="price">Price</span>
</td>

<td class="order_title">
    <span class="purchase_date">Purchase date</span>
</td>

<td class="order_title">
  <span class="status">Status</span>
</td>

<td class="order_title">
    <span class="status_date">Status date</span>
      </td>

<td class="order_title">
  <span class="notes">Notes</span>
</td>